// THIS FILE IS AUTO GENERATED

using System;

namespace {{ projectName }}
{

{%- for group in constants.keys() %}

	public struct {{ group }} {

	{%- for name, value in constants[group].items() %}

		public const double {{ name }} = {{ value }};

	{%- endfor %}

	}

{%- endfor %}

}
